SHOPIFY_API_KEY=816678fd4b1090ece40548e15b569dd5
SHOPIFY_API_SECRET=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
SHOPIFY_SCOPES=read_products,write_products,read_product_listings,write_product_listings
HOST=https://your-app-domain.com
PORT=3000
SESSION_SECRET=your-session-secret-key-here
TARGET_METAFIELD=custom.specification
TRANSLATION_API_KEY=your-translation-api-key
TRANSLATION_SERVICE=mymemory
